.body{margin: 0;}

.intro{background-color: #e4f9f5;
  padding-top: 50px;
  padding-bottom: 50px;
text-align: center;
}

h1{font-family: 'sacramento', cursive;
color: #11999e}

h3 {color: #66bfbf;
font-family:'montserrat',sans-serif;}

.gocorona{text-decoration: underline;}

hr{ border: dotted grey 6px;
border-bottom: none;
color: grey;
width: 4%;
margin: 100px auto}

a{color: #11999e;}

a:hover{color: white}

.game{background-color: #66bfbf;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

.introgame{margin: 40px auto 60px;
  width: 40%;
colour: #e4f9f5}
